# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.venv/
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
*.coverage

# Docs
*.md
LICENSE

# Docker
Dockerfile
docker-compose.yml
.dockerignore
